a {
    color: rgb(255, 255, 255);
    font-family: cursive; 
    font-size: larger;
    overflow-wrap: break-word;
    max-width: boxwidth;
    
}



from {
  justify-content: center;


}

input[type=text] {
    width: 60%;
    border: 2px solid lightblue;
    border-radius: 4px;
    height: 30px;
    margin-left: 10%;
    margin-bottom: 10%;

  }

.btnui {
    background-color: #003cff; /* Green */
    border: none;
    color: white;
    height: 30px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid blueviolet;
    border-radius: 4px;
    overflow: hidden;
  }



#root {
  height: 100%;
}

.newdiv {
  background-color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  padding: 2%;
  align-items: center; 
  justify-content: center;
}


input[type=checkbox] {
  border-left: 10px;
  float: right;
  margin: 5px;
}




.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


#removebox {
  display: none;
}


#removebox:checked {
  display: none;
}

#checkbox {
  display: none;
}


#checkbox:checked {
  display: none;
}

i {
  float: right;
}