a {
    color: rgb(16, 145, 138);
    font-family: cursive; 
    font-size: larger;
}



input[type=text] {
    width: 80%;
    border: 2px solid blueviolet;
    border-radius: 4px;
    height: 30px;
  }

.ui labeled icon button fluid {
    background-color: #003cff; /* Green */
    border: none;
    color: white;
    height: 38px;
    width: 19%;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid blueviolet;
    border-radius: 4px;
  }

.btn {
    width: auto;
    margin-left: 45%;
    
}


#root {
  height: 100%;
}




